body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a.active {
    background: #00ccff;
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.main {
    padding-right: 40px;
    padding-left: 40px;
}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.list-group {
    padding-left: 0;
    margin-bottom: 1px;
}


/*---------------------*/


.callout.secondary {
    margin-top: 20px;
    background: #222;
    color: white;
}

.comment-list {
    list-style: none;
    margin: 0 0 50px 0;
}
.comment-list > li {
    margin: 0 0 20px 0;
    background: #333;
    padding: 20px;
}

.comment-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 10px 0;
}

.comment-user-avatar-wrap {
    width: 40px;
    margin-right: 10px;
}

.comment-username {
    margin-right: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.on {
    margin-right: 5px;
}

.comment-text {
    background: white;
    color: #222;
    padding: 20px;
}
.comment-text :last-child {
    margin: 0;
}

.callout.secondary {
    margin-top: 20px;
    background: #222;
    color: white;
}

.comment-list {
    list-style: none;
    margin: 0 0 50px 0;
}
.comment-list > li {
    margin: 0 0 20px 0;
    background: #333;
    padding: 20px;
}

.comment-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 10px 0;
}

.comment-user-avatar-wrap {
    width: 40px;
    margin-right: 10px;
}

.comment-username {
    margin-right: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.on {
    margin-right: 5px;
}

.comment-text {
    background: white;
    color: #222;
    padding: 20px;
}
.comment-text :last-child {
    margin: 0;
}
